<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="WebDriver Manager Suite">
  <test name="Test All Browsers">
    <classes>
      <class name="examples.WDM_Chrome"/>
      <class name="examples.WDM_ChromeHeadless"/>
      <class name="examples.WDM_Firefox"/>
      <class name="examples.WDM_FirefoxHeadless"/>
      <class name="examples.WDM_InternetExplorer"/>
      <class name="examples.WDM_MSEdge"/>
      <!--<class name="examples.WDM_Opera"/>-->
      <class name="examples.WDM_Phantom"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
